* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: white;
    margin:0 auto;
}

#menu {
	background-color: #333;
}

#body {
	background-color: white;
	font-size: 20px;
	padding: 10px;
}
#page {
	width: 900px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}
#content{
	min-height: 100vh;
	height:  auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #7289da;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.footer {
  background-color: #f1f1f1;
  padding: 10px;
}

br {
	user-select: none;
}

iframe {	
	margin-left: auto;
	margin-right: auto;}

footer{clear: both;
background-color: #333;
color: white;
text-align: center;
}
